body {
    background-image: url('../img/pic1.jpg');
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
    position: relative;
}

.navbar-nav li {
    padding-right: 10vw;
    font-size: 2.3vw;
}